@import './functions/px-to-rem';

// Color system
$colors: () !default;

$black:      #000000 !default;
$blue:      #0A5BF0 !default;
$light-text:rgba(24,25,32,.6);
$light-black:rgba(24,25,32,.8);
$light-gray:#747579;
$input-focus: #0055f4;
$red:       #FF3344 !default;
$white:     #ffffff !default;
$body-font: #181920 !default;
$body-background: #F0F1F7;

$colors: map-merge(
  (
    "black":       $black,
    "blue":        $blue,
    "light-black": $light-black,
    "light-text":  $light-text,
    "light-gray":  $light-gray,
    "input-focus":  $input-focus,
    "red":         $red,
    "body-font":   $body-font,
    "body-background":   $body-background,
    "white":       $white,
  ),
  $colors
);

// Body
// $body-bg: #f0f1f7;
$body-color: $body-font;

// Grid containers
$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px
) !default;

// Typography
$font-family-sans-serif:      "Roboto";
$font-family-monospace:       "Rototo";
$font-family-base:            $font-family-sans-serif !default;

// Grid
$grid-columns: 10;

// Forms 
$input-height: 3.5714285714285716rem;
$form-group-margin-bottom: px-to-rem(20);
$input-padding-x: 1rem;

// breakpoints
$xs: 0;
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
