@import './functions/px-to-rem';

// Color system
$colors: () !default;

$blue:      #0A5BF0 !default;
$light-gray:#747579;
$red:       #FF3344 !default;
$white:     #ffffff !default;
$body-font: #181920 !default;

$colors: map-merge(
  (
    "blue":       $blue,
    "light-gray": $light-gray,
    "red":        $red,
    "body-font":  $body-font,
    "white":      $white,
  ),
  $colors
);

// Body
$body-bg: #f0f1f7;
$body-color: $body-font;

// Grid containers
$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1160px
) !default;

// Typography
$font-family-sans-serif:      "Roboto";
$font-family-monospace:       "Rototo";
$font-family-base:            $font-family-sans-serif !default;

// Grid
$grid-columns: 10;

// Forms 
$input-height: 3.5714285714285716rem;
$form-group-margin-bottom: px-to-rem(20);
$input-padding-x: 1rem;

// breakpoints
$xs: 0;
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
