
// Color system
$colors: () !default;

$blue:    #0A5BF0 !default;
$white:   #ffffff !default;

$colors: map-merge(
  (
    "blue":       $blue,
    "white":      $white,
  ),
  $colors
);

// Body
$body-bg: #f0f1f7;


// Grid containers
$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1160px
) !default;

// breakpoints
$xs: 0;
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;